# --------------- IDE 配置 & 临时文件 ---------------
.metadata/
.mcuxpressoido_packages_support/
.settings/
.vscode/
temp_backup/
**/.cproject
**/.project
*.launch
*.idx
*.hidx

# --------------- 编译产物 & 中间文件 ---------------
**/Debug/
**/Release/
*.hex
*.bin
*.elf
*.axf
*.o
*.obj
*.d
*.mk
*.ld
*.map
*.su
*.sym
*.pch
*.s
*.asm
*.dSYM/
CMakeCache.txt
CMakeFiles/
Makefile

# --------------- 临时文件 & 日志 ---------------
*.log
*.tmp
*.swp
*.swo
*.swn
*.report
*.analysis
*.jlink
*.jlinklog

# --------------- 其他无需跟踪的文件 ---------------
*.bak
*.orig
*.pyc
__pycache__/
venv/
.env/
/.metadata
